/* Card */

.card {
    width: 3rem;
    height: 3rem;

    position: fixed;

    top: 3.5rem;
    right: 3.5rem;
}

.card .card_circle {

    width: 100%;
    height: 100%;

    border-radius: 50%;

    transform: scale(.9) rotate(0deg);
    transition: .17s linear;
}

.card .card_circle:hover {
    transform: scale(1) rotate(360deg);
    transition: .12s linear;
}

.card .card_circle .card_img {
    width: 100%;
    height: 100%;

    padding: .3rem;
}

/* Card */

/* ======================= */

/* Window_card */

.window_card {
    width: 25rem;
    height: 23.5rem;

    position: fixed;

    display: none;

    top: 5rem;
    right: 5rem;

    padding: .5rem;

    background-color: rgb(201, 140, 28);


    overflow-y: scroll;

}

.window_card .items_products {
    margin-bottom: .7rem;
}

/* .window_card .window_boxes .window_boxes_img {
    width: 5rem;
    height: 10rem;
}

.window_card .window_boxes .window_boxes_list {
    width: 100%;

    padding-left: .5rem;

    list-style-type: none;
}

.window_card .window_boxes .window_boxes_btn {
    width: 5rem;
    height: 2rem;

    padding: 0rem .5rem;
}

.window_card .window_boxes .window_boxes_btn:hover {
    background-color: var(--red);
} */

/* Window_corsina */