@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Satisfy&display=swap');

/* Всі кольори */
:root{
    --black: black;
    --gray: gray;
    --wheat: wheat;

    --ellow: #F0ED3F;
    --orange: #DC8C09;

    --green: rgb(50, 169, 50);
    --blue: rgb(3, 73, 134);
    --red: rgb(193, 0, 0);

    --black-window: rgba(0, 0, 0, 0.1);
    --light-window: rgba(255, 255, 255, 0.1);

    --grad60: linear-gradient(60deg, rgb(93, 6, 86) 10%, rgb(164, 15, 137) 50%, rgb(207, 27, 204) 200%);
}
/* Всі кольори */

/* Corsina */

.corsina {
    width: 3rem;
    height: 3rem;

    position: fixed;

    top: 3.5rem;
    right: 3.5rem;
}

.corsina .corsina_circle {

    width: 100%;
    height: 100%;

    border-radius: 50%;

    transform: scale(.9) rotate(0deg);
    transition: .17s linear;
}

.corsina .corsina_circle:hover {
    transform: scale(1) rotate(360deg);
    transition: .12s linear;
}

.corsina .corsina_circle .corisina_img {
    width: 100%;
    height: 100%;

    padding: .3rem;
}

/* Corsina */

/* ======================= */

/* Window_corsina */

.window_corsina {
    width: 25rem;
    height: 23.5rem;

    position: fixed;

    display: none;

    top: 5rem;
    right: 5rem;

    padding: .5rem;

    background-color: rgb(201, 140, 28);


    overflow-y: scroll;

}

.window_corsina .window_boxes{
    width: 100%;

    display: flex;

    margin-bottom: .5rem;
    padding: .5rem;

    background-color: var(--blue);
}

/* .window_corsina .window_boxes .window_boxes_img {
    width: 5rem;
    height: 10rem;
}

.window_corsina .window_boxes .window_boxes_list {
    width: 100%;

    padding-left: .5rem;

    list-style-type: none;
}

.window_corsina .window_boxes .window_boxes_btn {
    width: 5rem;
    height: 2rem;

    padding: 0rem .5rem;
}

.window_corsina .window_boxes .window_boxes_btn:hover {
    background-color: var(--red);
} */

/* Window_corsina */