@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Satisfy&display=swap');

/* Всі кольори */
:root{
    --black: black;
    --gray: gray;
    --wheat: wheat;

    --ellow: #F0ED3F;
    --orange: #DC8C09;

    --green: rgb(50, 169, 50);

    --black-window: rgba(0, 0, 0, 0.1);
    --light-window: rgba(255, 255, 255, 0.1);

    --grad60: linear-gradient(60deg, rgb(93, 6, 86) 10%, rgb(164, 15, 137) 50%, rgb(207, 27, 204) 200%);
}
/* Всі кольори */

/* ======================= */

/* Скролбар */
::-webkit-scrollbar{
    display: inline;
    background-color: var(--light-window);
    width: .5rem;
}

::-webkit-scrollbar-thumb{
    background:  var(--gray);
}

::-webkit-scrollbar-track{
    background-color:  var(--light-window);
}
/* Скролбар */

/* ======================= */

/* Ко всей страничке */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;

    font-size: 14px;
    font-weight: 300;

}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-y: hidden;

    background: var(--grad60);
}
/* Ко всей страничке */

/* ======================= */

/*  Для всех с класом btn */
.btn {
    color: var(--black);
    border: none;
    background-color: var(--black-window);

    transition: .17s linear;
}

.btn:hover {

    transition: .12s linear;
}
/*  Для всех с класом btn */

/* ======================= */

/* Header list */
.header {
    text-align: center;

    padding: 0.5rem;
}

.header_title {
    font-size: 2.5rem;

    margin-bottom: 0.5rem;
}

.header_links {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.header_link {
    padding: .1rem 5rem;
}
/* Header list */

/* ======================= */

/* Candels and hany lists */
.main_list {
    width: 70%;
    height: 41rem;

    margin-bottom: 4rem;
    padding: .5rem;

    border-left: .12rem solid;
    border-right: .12rem solid;
    background-color: var(--black-window);

    overflow-y: scroll;
}

.main_list .candels_list {
    width: 100%;
    height: 100%;
    /* background-color:chartreuse; */
}

.main_list .hany_list {
    width: 100%;
    height: 100%;
    /* background-color:brown; */
}

.main_list .other_list {
    width: 100%;
    height: 100%;
    /* background-color:cornflowerblue; */
}

/* Candels and hany lists */

/* ======================= */

/*  Коробочки с продуктами  */

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box_product {
    width: 47%;
    height: auto;

    margin: .5rem;

}

.boxes_products {
    width: 100%;
    height: auto;

    display: flex;

    padding: .5rem;

    border-radius: .15rem;
    background: var(--light-window);

    transform: scale(1);
    transition: .17s linear;
}

.boxes_products:hover {
    padding: .5rem .9rem;

    transform: scale(1.02);
    transition: .12s linear;

    box-shadow: 0rem 0rem .9rem var(--black);
}

.boxes_products .img_product {
    width: 9rem;
    height: 18rem;
}

.boxes_products .info_product {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: .5rem;
}

.boxes_products .info_product .tex_product {
    height: 100%;

    padding: .5rem;

    border-radius: .15rem;
    background: var(--black-window);
}

.boxes_products .info_product .tex_product .name_product {
    font-size: 1.8rem;
    font-weight: 400;
}

.boxes_products .info_product .tex_product .list_product {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    list-style-type: none;

    margin-left: .5rem;
}

.boxes_products .info_product .btn_product {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.01rem;
    font-weight: 400;


    padding: .15rem 0rem;
    margin-top: .5rem;

    border-radius: .15rem;
}

.boxes_products .info_product .btn_product:hover {
    font-size: 1.03rem;
    font-weight: 500;

    background-color: var(--green);

    cursor: pointer;
}

/*  Коробочки с продуктами  */

/* ======================= */