@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Satisfy&display=swap');

/* Всі кольори */
:root{
    --black: black;
    --back-hover: rgba(5, 2, 5, 0.1);
    --back-zero: rgba(0,0,0,0.0);
    --ellow: #F0ED3F;
    --orange: #DC8C09;
    --wheat: wheat;
    --grad: -webkit-radial-gradient(var(--ellow), var(--orange));
}
/* Всі кольори */

/* ======================= */

/* Скролбар */
::-webkit-scrollbar{
    display: inline;
    background-color: var(--orange);
    width: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--orange);
}

::-webkit-scrollbar-track{
    background-color: var(--back-hover);
}
/* Скролбар */

/* ======================= */

/* Ко всей страничке */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;

    font-size: 14px;
    font-weight: 300;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--grad);
}
/* Ко всей страничке */

/* ======================= */

/*  Для всех с класом btn */
.btn {
    color: var(--black);
    border: none;
    background-color: var(--back-hover);

    transition: .09s linear;
}

.btn:hover {
    text-shadow: .1rem .03rem .3rem var(--black);

    transition: .11s linear;
}
/*  Для всех с класом btn */

/* ======================= */

/* Header list */
.header {
    text-align: center;

    padding: 0.5rem;

    background-color: var(--back-zero);
}

.header_title {
    font-size: 2.5rem;

    margin-bottom: 0.5rem;
}

.header_links {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.header_link {
    padding: .1rem 5rem;
}
/* Header list */

/* ======================= */

/* Candels and hany lists */
.main_list {
    width: 80%;
    height: auto;

    margin-bottom: 4rem;

    border-left: .12rem solid;
    border-right: .12rem solid;
    background-color: var(--back-hover);
}

.main_list .candels_list {
    width: 100%;
    height: 100%;
    /* background-color:chartreuse; */
}

.main_list .hany_list {
    width: 100%;
    height: 100%;
    /* background-color:brown; */
}

.main_list .other_list {
    width: 100%;
    height: 100%;
    /* background-color:cornflowerblue; */
}

/* Candels and hany lists */

/* ======================= */

/*  Коробочк с продуктами  */

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxes_products {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

    margin: .5rem;
    padding: .3rem;

    background-color: cornsilk;

    transform: scale(0.985);
    transition: .09s linear;
}

.boxes_products:hover {
    box-shadow: 0rem 0rem 0.5rem white;
    transform: scale(1);
    transition: .11s linear;
}

.boxes_products .img_product {
    width: 9rem;
    height: 18rem;
}

.boxes_products .info_product {
    margin: .7rem 0;

}

.boxes_products .info_product .name_product{
    font-family: inherit;
    font-weight: 300;
    font-size: 1.6rem;

}

.boxes_products .info_product .list_product{
    list-style-type: none;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.boxes_products .chose_product {
    font-size: 1.2rem;

    padding: .2rem 0;
}

.boxes_products .chose_product:hover {
    border-radius: .45rem;
    background-color: rgba(92, 233, 38 , 0.7);
}

