/* Скролбар */
::-webkit-scrollbar{
    display: inline;
    background-color: var(--light-window);
    width: .5rem;
}

::-webkit-scrollbar-thumb{
    background:  var(--gray);
}

::-webkit-scrollbar-track{
    background-color:  var(--light-window);
}
/* Скролбар */