/* До всієї сторінки */
@import 'colors.css';
@import 'mainlist.css';
@import 'scrollbar.css';
@import 'card.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;

    font-size: 14px;
    font-weight: 300;

}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*
    overflow-y: hidden; */

    background: var(--grad60);
}
/* До всієї сторінки */

/* ======================= */

/*  Для всіх с класів btn */
.btn,
.btn_sell,
.btn_delete{
    color: var(--black);
    border: none;
    background-color: var(--black-window);

    transition: .17s linear;
}

.btn:hover {
    transition: .12s linear;
    cursor: pointer;
}

.btn_sell:hover {
    transition: .12s linear;
    color: var(--wheat);
    background-color: var(--green);
    cursor: pointer;
}

.btn_delete:hover {
    transition: .12s linear;
    color: var(--wheat);
    background-color: var(--red);
    cursor: pointer;
}

a {
    color: var(--black);
    transition: .12s linear;
}

a:hover {
    color: var(--wheat);
    transition: .12s linear;
    cursor: pointer;
}
/*  Для всіх с класів btn */